.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todoList {
  border: 1px solid lightgreen;
  padding: 20px;
  background-color: rgba(115, 207, 220, 0.73);
  border-radius: 6px;
}